
<div class="container">

 


    <h1 class="text-md-center">Poštovani studenti</h1>
    
     
    
    
    <p class="text-lg-center">Dobrodošli na novi web portal Prirodno-matematičkog fakulteta u Novom Sadu.</p>

    <p class="text-lg-center"> Portal je u fazi razvoja pa još nisu Vam dostupni svi servisi sa starog portala.</p>
        
    <p class="text-lg-center"> Ukoliko imate pitanja koja se odnose na finansije, prijavu ispita, spisak ispita i sva ostala pitanja koja se tiču studija, molimo da se obratite Vašem referentu u studentskoj službi. Kontak možete pronaći na sledećoj adresi: http://www.pmf.uns.ac.rs/kontakt/
        
        Ukoliko imate problema sa funkcionisanjem portala molimo Vas da se obratite Laboratoriji za razvoj informacionih sistema na e-mail: eportal@pmf.uns.ac.rs.</p>
    
     
     
    
    </div>

