
    <!-- FOOTER -->
    <footer id="footer">
        <div class="py-1 mt-5 container">
            <div class="d-flex justify-content-between mt-1">
                <div class="col-md-4xx">
                    <h6 class="text-light">DPI &copy; 2019</h6>
                </div>
                <div class="col-md-4xx">
                    <h6 class="text-light">Developed by <em>tareqmonwer</em></h6>
                </div>
                <div class="col-md-4xx">
                    <h6 class="text-light">Powered by Django, Bootstrap4</h6>
                </div>
            </div>
        </div>
    </footer>