 <div class="table-responsive" >
    <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id profesora</th>
          <th scope="col">Ime profesora</th>
          <th scope="col">Id predmeta</th>
          <th scope="col">Naziv predmeta</th>
         
        </tr>
      </thead>
      <tbody>
        
        
        <tr id="predaje" *ngFor="let p of predaje ; index as i" (click)="highlightRow(i+1)" [ngClass] = "{'highlight' : i+1== selectedId}">
          
          
          <td>{{p.idProfesor.idProfesor}}</td>
          <td>{{p.idProfesor.ime}}</td>
          <td>{{p.idPredmet.idPredmet}}</td>
          <td>{{p.idPredmet.naziv}}</td>
         
        </tr>
      </tbody>
    </table>
    </div>  
    


        <div class="container">
          <div class="row">
            <div class="col">
              
            </div>
            <div class="col-6">
             
            </div>
            <div class="col">
             
            </div>
          </div>

          <div class="row">
            <div class="col">
              
            </div>
            <div class="col-5">
              
            </div>
            <div class="col">
              
            </div>
          </div>

          <div class="row">
            <div class="col">
              
            </div>
            <div class="col-5">
              <button type="button" class="btn btn-success" (click)="zapamtiKliknuto()" [disabled]="!selectedId">Dodaj predmet</button>
            </div>
            <div class="col">
              
            </div>
          </div>

        </div>

      

        
        
    

